body {
}
#all
 {
    margin :auto ;
    background-color:white ;
    width:90%;
    height:auto ;
}
#title {
    margin :auto ;
    margin-bottom :10px;
    border:2px solid  white;
    background-color :orange;
    width:100%;
    height:150px;
    box-shadow :0px 0px 16px orange;
    border-radius:15px;
    text-align :center;
    line-height :150px;
    vertical-align :middle;
    font-family: 楷体; font-size: 6em; font-weight: bold; color: white;
}
#user {
    width:150px;
    height:150px;
    background-image:url(logo.png);
    border-radius :50%;
    border :2px black;
    box-shadow :#808080;
    float :left  ;
}
#time{
    margin-top :15px;
    width:120px;
    height:120px;
    float :right;

}
#body {
    border-color :white;
    margin :auto ;
    margin-bottom :10px;
    background-color:#decfd8;
    width:100%;
    height:52em;
    border-radius :8px;
}
.skin {
    margin: 5px;
    border: 3px groove white;
    background-color: #56b75e;
    width: 17.5%;
    height: 2.5em;
    float: left;
    font-family: 楷体;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    line-height: 2.5em;
    vertical-align: middle;
}
#left {
    margin-left :1em;margin-bottom :1em;
    background-color:white;
    width :15%;
    height:45em;
    float:left ;
}
#right {
    margin-right :1em;margin-bottom :1em;
    background-color:white;
    width :80%;
    height:45em;
    float:right;
}
#Index {
    margin :auto ;
    width:100%;
    height:100%;
}
#tail {
    border-color :white;
    margin :auto ;
    background-color :#0094ff;
    width:100%;
    height:7em;
    text-align :center;
    line-height :7em;
    vertical-align :middle;
}
.title2 {
    margin :auto ;
    width :50%;
    height :30px;
    text-align :center ;
    line-height :30px;
    vertical-align :middle  ;
    background-color :#decfd8;
    font-family: 楷体;
    font-size: 21px;
    font-weight: bold;
   
}
.body {
    margin :auto ;
    width :50%;
    height :auto ;
}
.userimg{
 width:20%;
 margin-left :2px;
 float :left
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    width :160px;
    padding :16px;
    font-size: 16px;
    border: none;
    display :block ;
    text-align :center ;
    text-decoration-line :none ;
}
.dropbtn:hover  {
    background-color: #3e8e41;
}
    .dropbtn:visited {
    text-decoration :none;
    }

/* 容器 <div> - 需要定位下拉内容 */
.dropdown {
    position: relative;
    display: inline-block;
    
}

/* 下拉内容 (默认隐藏) */
.dropdown-content {
    display :block ;
    position:relative;
    background-color: #f9f9f9;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* 下拉菜单的链接 */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width :160px;
}

/* 鼠标移上去后修改下拉菜单链接颜色 */
.dropdown-content a:hover   {background-color: #f1f1f1}

/* 在鼠标移上去后显示下拉菜单 */
.dropdown:hover .dropdown-content {
    display: block;
}

/* 当下拉内容显示后修改下拉按钮的背景颜色 */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#chat {
    background-color :#decfd8
    width :75%;
    height :auto;

}
.online
{
    width:100%;
    height:35px;
    margin :5px;
    text-align :center ;
    line-height :35px;
    vertical-align :middle ;
    background-color :#7995a8;
}
 .online img 
    {
    width:35px;
    height :35px;
    border-radius :50%;
    margin-left :5px;
    }
.onlinename {
    width:80%;
    min-height :35px;
    height :auto;
    margin :auto;
    padding :20px;
    background-color :#768e91;
}
.onlinename-content {
    width:100%;
    height :35px;
    line-height :35px;
    vertical-align :middle ;
    font-size :20px;
}
    .onlinename-content img 
    {
    width:35px;
    height :35px;
    border-radius :50%;
    float :left;
    margin-right :10px;
    }
#chattitle {
    width :100%;
    height :45px;
    font-family :楷体;
    font-size :30px;
    font-weight :bold ;
    text-align :center ;
    line-height :45px;
    vertical-align :middle ;
    background-color :#decfd8;
}
#chatshow {
    width:72%;
    height :600px;
    margin :2px ;
    float :left ;
}
#chatuser {
    width:25%;
    height :600px;
    margin :2px ;
    margin-right :5px;
    float :right ;
}
#chatsend {
    width: 100%;
    height: 200px;
    margin-top: 20px;
}
.word {
    width :auto ;
    max-width :50%;
    height :auto;
    min-height :30px;
    background-color :#0094ff;
    float :left   ;
    margin :2px;
    padding :5px;
    border-radius :5px;
}
.word-name {
    width :auto;
    min-width :10%;
    height :35px;
    margin :auto ;
    float :left ;
    line-height :35px;
    vertical-align :middle ;
}
    .word-name img {
    width:35px;
    height:35px;
    float :left;
    }
.word-content {
    width :70%;
    height :auto;
    min-height :30px;
    float :left ;
    margin :2px;

}

.marquee {
    width:100%;
    margin ：auto;
    margin-top ：5px;
    height :35px;
    text-align :center ;
    line-height :35px;
    vertical-align :middle ;
    marquee-style :slide ;
}